/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
} */
html {
    background-color: #c67272;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ffd08f;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

html {
    font-size: 10px;
    font-family: 'open sans', sans-serif;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #dd41c0;
    text-shadow: 4px 2px 1px black;
    font-size: 60px;
    text-align: center;
}

li,
p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 1px auto;

}

figcaption {
    text-align: center;
    font-size: 14px;
}

#heading {
    color: blue;
}

.popular {
    border: 4px dotted rgb(249, 65, 227);
}

figure {
    margin: 10px auto;

}


@media screen and (max-width: 1180px) {
    body {
        width: 42%;
    }

    h1 {
        font-size: 60px;
    }
    img{
        width: 50%;
    }

    li, p{
        font-size: 16px;
        line-height: 1.5;
    }
}
@media screen and (max-width: 820px) {
    body {
        width: 60%;
    }

    h1 {
        font-size: 90px;
    }
    img{
        width: 50%;
    }

    li, p{
        font-size: 28px;
        line-height: 1;
    }
}



@media screen and (max-width: 668px) {
    body {
        width: 75%;
    }

    h1 {
        font-size: 70px;
    }
    img{
        width: 50%;
    }

    li, p{
        font-size: 20px;
        line-height: 1;
    }
}

@media screen and (max-width: 376px) {
    body {
        width: 58%;
    }

    h1 {
        font-size: 40px;
    }
    img{
        width: 70%;
    }

    li, p{
        font-size: 16px;
        line-height: 1;
    }
}